<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baygorn Games</title>
    <link rel="stylesheet" href="../asset/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar">
        <div class="left">
            <div class="logo">
                <a href="../home/home.php">
                    <img src="../asset/img/logo.png" alt="Baygorn Games" style="width: 100px; height: auto;">
                </a>
            </div>
        
            <ul class="menu">
                <li><a href="../error/404.php">ABOUT</a></li>
                <li><a href="../shopgame/shoppage.php">GAME</a></li>
                <li><a href="../news/news.php">NEWS</a></li>
                <li><a href="../error/404.php">SUPPORT</a></li>
            </ul>
        </div>
        <div class="account">
            <button class="Login">SIGN IN</button>
        </div>
    </nav>
</body>
</html>